# Duplicates setup.py, doesn't it?
include LICENSE.txt
#recursive-include doc *.html *.png *.gif
recursive-include examples *.ty
recursive-include models *.ty
recursive-include topo/tkgui/icons *.*
recursive-include topo/command *.png *.pdf
recursive-include topo/tests *.txt *.jpg *.pgm *DATA *.data *.typ *.pickle
