Source: topographica
Section: python
Priority: optional
Maintainer: C. E. Ball <ceball@gmail.com>
Original-Maintainer: C. E. Ball <ceball@gmail.com>
Build-Depends: cdbs, debhelper (>= 6), python-central (>= 0.5.6), python-all-dev (>= 2.3.5-11)
Standards-Version: 3.8.0
XS-Python-Version: >= 2.5
Homepage: http://www.topographica.org

Package: topographica
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python (>> 2.5), python-dev, python-tk, python-numpy, python-gmpy, python-matplotlib, python-scipy, ipython, python-imaging, python-imaging-tk
XB-Python-Version: ${python:Versions}
Description: Software package for computational modeling of neural maps.
 Topographica is a software package for computational modeling of neural maps, 
 developed by the Institute for Adaptive and Neural Computation at the 
 University of Edinburgh and the Neural Networks Research Group at the 
 University of Texas at Austin. The project is funded by the NIMH 
 Human Brain Project under grant 1R01-MH66991. The goal is to help 
 researchers understand brain function at the level of the topographic 
 maps that make up sensory and motor systems.
 .
 Topographica is intended to complement the many good low-level neuron 
 simulators that are available, such as Genesis and Neuron. Those simulators 
 focus on modeling the detailed internal behavior of neurons and small 
 networks of them. Topographica instead focuses on the large-scale 
 structure and function that is visible only when many thousands of such 
 neurons are connected into topographic maps containing millions of connections. 
 Many important phenomena cannot be studied without such large networks, including 
 the two-dimensional organization of visual orientation and motion direction maps, 
 and object segmentation and grouping processes. 
